.buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .buttons__button {
    border: none;
    background-color: white;
    color: teal;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px teal;
    border-radius: 10px;
  }
  
  .buttons__button:hover {
    color: hsl(180, 94%, 25%);
  }
  
  .buttons__button.buttons__button:disabled {
    color: #ddd;
    cursor: default;
  }